In [1]:
import numpy as np
import pandas  as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
ser=Series(randn(9),index=[[1,1,1,2,2,2,3,3,3],['a','b','c','a','b','c','a','b','c']])
ser

1  a   -0.130452
   b   -0.526716
   c    1.320150
2  a    0.341825
   b   -1.645596
   c   -0.793974
3  a   -0.205079
   b    1.794185
   c   -1.607524
dtype: float64

In [3]:
ser.index

MultiIndex(levels=[[1, 2, 3], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]])

In [4]:
ser[1]

a   -0.130452
b   -0.526716
c    1.320150
dtype: float64

In [5]:
ser[3]

a   -0.205079
b    1.794185
c   -1.607524
dtype: float64

In [11]:
ser[:,'a']

1   -0.130452
2    0.341825
3   -0.205079
dtype: float64

In [13]:
ser[:,'b']

1   -0.526716
2   -1.645596
3    1.794185
dtype: float64

In [14]:
ser[2]['c']

-0.7939740650195146

In [15]:
ser[3][:]

a   -0.205079
b    1.794185
c   -1.607524
dtype: float64

In [16]:
ser[1:3][:]

1  b   -0.526716
   c    1.320150
dtype: float64

In [17]:
ser[:][:]

1  a   -0.130452
   b   -0.526716
   c    1.320150
2  a    0.341825
   b   -1.645596
   c   -0.793974
3  a   -0.205079
   b    1.794185
   c   -1.607524
dtype: float64

In [18]:
df=ser.unstack()# unstack convert lower index in columns

In [19]:
df

          a         b         c
1 -0.130452 -0.526716  1.320150
2  0.341825 -1.645596 -0.793974
3 -0.205079  1.794185 -1.607524

In [26]:
df1=DataFrame(randn(24).reshape((4,6)),index=[['a','a','b','b'],[1,2,1,2]],
              columns=[['jp','jp','ud','ud','dl','dl'],['cold','hot','cold','hot','cold','hot']])
df1

           jp                  ud                  dl
         cold       hot      cold       hot      cold       hot
a 1  2.294628 -0.318873  0.317628 -1.360850  0.208652  1.039848
  2 -1.594956 -0.540827 -0.785657 -0.296214 -0.267303  0.269448
b 1  0.973766 -1.928217 -0.661333  1.326911  0.717343  2.134642
  2  0.881771  0.318649  1.946604 -1.241086  0.536034 -0.536482

In [27]:
df1.index.names=['Index_1','Index_2']
df1.columns.names=['cities','temp']
df1

cities                 jp                  ud                  dl
temp                 cold       hot      cold       hot      cold       hot
Index_1 Index_2
a       1        2.294628 -0.318873  0.317628 -1.360850  0.208652  1.039848
        2       -1.594956 -0.540827 -0.785657 -0.296214 -0.267303  0.269448
b       1        0.973766 -1.928217 -0.661333  1.326911  0.717343  2.134642
        2        0.881771  0.318649  1.946604 -1.241086  0.536034 -0.536482

In [28]:
df1.swaplevel('cities','temp',axis=1)

temp                 cold       hot      cold       hot      cold       hot
cities                 jp        jp        ud        ud        dl        dl
Index_1 Index_2
a       1        2.294628 -0.318873  0.317628 -1.360850  0.208652  1.039848
        2       -1.594956 -0.540827 -0.785657 -0.296214 -0.267303  0.269448
b       1        0.973766 -1.928217 -0.661333  1.326911  0.717343  2.134642
        2        0.881771  0.318649  1.946604 -1.241086  0.536034 -0.536482

In [29]:
df1.sort_index(level=1)

cities                 jp                  ud                  dl
temp                 cold       hot      cold       hot      cold       hot
Index_1 Index_2
a       1        2.294628 -0.318873  0.317628 -1.360850  0.208652  1.039848
b       1        0.973766 -1.928217 -0.661333  1.326911  0.717343  2.134642
a       2       -1.594956 -0.540827 -0.785657 -0.296214 -0.267303  0.269448
b       2        0.881771  0.318649  1.946604 -1.241086  0.536034 -0.536482

In [30]:
df1.sort_index(level=0)

cities                 jp                  ud                  dl
temp                 cold       hot      cold       hot      cold       hot
Index_1 Index_2
a       1        2.294628 -0.318873  0.317628 -1.360850  0.208652  1.039848
        2       -1.594956 -0.540827 -0.785657 -0.296214 -0.267303  0.269448
b       1        0.973766 -1.928217 -0.661333  1.326911  0.717343  2.134642
        2        0.881771  0.318649  1.946604 -1.241086  0.536034 -0.536482