In [3]:
import numpy as np
import pandas  as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [4]:
ser1=Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2=ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser3=ser2.reindex(['A','B','C','D','E','F','G','H','I'],fill_value=0)
ser3

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
H    0.0
I    0.0
dtype: float64

In [7]:
ser4=Series(['india','nepal','china'],index=[0,5,10])
ser4

0     india
5     nepal
10    china
dtype: object

In [9]:
ranger=range(15)

In [10]:
ser4.reindex(ranger,method='ffill')

0     india
1     india
2     india
3     india
4     india
5     nepal
6     nepal
7     nepal
8     nepal
9     nepal
10    china
11    china
12    china
13    china
14    china
dtype: object

In [11]:
df=DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['C1','C2','C3','C4','C5'])
df

         C1        C2        C3        C4        C5
A -0.065473 -0.786390 -0.301660  0.256903  0.248414
B -0.217046 -0.280885 -1.003257 -1.014044 -0.908798
D -0.664826  1.958711 -0.800747 -1.074384 -1.177118
E -0.324995 -0.127357  0.487596  0.120980  0.414817
F -1.146076  1.470141  0.552671  1.473010 -0.485886

In [13]:
df1=df.reindex(['A','B','C','D','E','F'])
df1

         C1        C2        C3        C4        C5
A -0.065473 -0.786390 -0.301660  0.256903  0.248414
B -0.217046 -0.280885 -1.003257 -1.014044 -0.908798
C       NaN       NaN       NaN       NaN       NaN
D -0.664826  1.958711 -0.800747 -1.074384 -1.177118
E -0.324995 -0.127357  0.487596  0.120980  0.414817
F -1.146076  1.470141  0.552671  1.473010 -0.485886

In [14]:
new_col=['C1','C2','C3','C4','C5','C6']

In [17]:
df1.reindex(columns=new_col)

         C1        C2        C3        C4        C5  C6
A -0.065473 -0.786390 -0.301660  0.256903  0.248414 NaN
B -0.217046 -0.280885 -1.003257 -1.014044 -0.908798 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D -0.664826  1.958711 -0.800747 -1.074384 -1.177118 NaN
E -0.324995 -0.127357  0.487596  0.120980  0.414817 NaN
F -1.146076  1.470141  0.552671  1.473010 -0.485886 NaN

In [18]:
df1

         C1        C2        C3        C4        C5
A -0.065473 -0.786390 -0.301660  0.256903  0.248414
B -0.217046 -0.280885 -1.003257 -1.014044 -0.908798
C       NaN       NaN       NaN       NaN       NaN
D -0.664826  1.958711 -0.800747 -1.074384 -1.177118
E -0.324995 -0.127357  0.487596  0.120980  0.414817
F -1.146076  1.470141  0.552671  1.473010 -0.485886

In [21]:
df.reindex(index=['A','B','C','D','E','F'],columns=new_col)

         C1        C2        C3        C4        C5  C6
A -0.065473 -0.786390 -0.301660  0.256903  0.248414 NaN
B -0.217046 -0.280885 -1.003257 -1.014044 -0.908798 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D -0.664826  1.958711 -0.800747 -1.074384 -1.177118 NaN
E -0.324995 -0.127357  0.487596  0.120980  0.414817 NaN
F -1.146076  1.470141  0.552671  1.473010 -0.485886 NaN

In [22]:
df

         C1        C2        C3        C4        C5
A -0.065473 -0.786390 -0.301660  0.256903  0.248414
B -0.217046 -0.280885 -1.003257 -1.014044 -0.908798
D -0.664826  1.958711 -0.800747 -1.074384 -1.177118
E -0.324995 -0.127357  0.487596  0.120980  0.414817
F -1.146076  1.470141  0.552671  1.473010 -0.485886

In [24]:
#to axis particular value
df['C3']['B']

-1.0032566421247766

In [27]:
#to change value
df['C3']['B']=6

In [28]:
df

         C1        C2        C3        C4        C5
A -0.065473 -0.786390 -0.301660  0.256903  0.248414
B -0.217046 -0.280885  6.000000 -1.014044 -0.908798
D -0.664826  1.958711 -0.800747 -1.074384 -1.177118
E -0.324995 -0.127357  0.487596  0.120980  0.414817
F -1.146076  1.470141  0.552671  1.473010 -0.485886

In [33]:
df3=df.reindex(columns=new_col,fill_value=15)

In [34]:
df3

         C1        C2        C3        C4        C5  C6
A -0.065473 -0.786390 -0.301660  0.256903  0.248414  15
B -0.217046 -0.280885  6.000000 -1.014044 -0.908798  15
D -0.664826  1.958711 -0.800747 -1.074384 -1.177118  15
E -0.324995 -0.127357  0.487596  0.120980  0.414817  15
F -1.146076  1.470141  0.552671  1.473010 -0.485886  15