In [1]:
import numpy as np
import pandas as pd
from pandas import Series

In [2]:
obj=Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj2=Series([4,8,12,16],index=['a','b','c','d'])
obj2

a     4
b     8
c    12
d    16
dtype: int64

In [10]:
obj2.index.name='Index'

In [11]:
obj2.name='my First Series'

In [12]:
obj2

Index
a     4
b     8
c    12
d    16
Name: my First Series, dtype: int64

In [13]:
world_pop=Series([137,126,32,25,20],index=['China','India','USA','Indonasia','Brazil'])
world_pop

China        137
India        126
USA           32
Indonasia     25
Brazil        20
dtype: int64

In [14]:
world_pop['India']

126

In [15]:
world_pop['USA']

32

In [23]:
world_pop[world_pop>=137]

China    137
dtype: int64

In [19]:
'China'in world_pop

True

In [20]:
'China' not in world_pop

False

In [24]:
world_pop_dict=world_pop.to_dict()
world_pop_dict

{'China': 137, 'India': 126, 'USA': 32, 'Indonasia': 25, 'Brazil': 20}

In [25]:
world_pop_Series=Series(world_pop_dict)
world_pop_Series

China        137
India        126
USA           32
Indonasia     25
Brazil        20
dtype: int64

In [28]:
countries=['China','India','USA','Brazil','iran']

In [29]:
obj3=Series(world_pop_dict,index=countries)
obj3

China     137.0
India     126.0
USA        32.0
Brazil     20.0
iran        NaN
dtype: float64

In [30]:
pd.isnull(obj3)

China     False
India     False
USA       False
Brazil    False
iran       True
dtype: bool

In [31]:
pd.notnull(obj3)

China      True
India      True
USA        True
Brazil     True
iran      False
dtype: bool

In [33]:
world_pop_Series+obj3

Brazil        40.0
China        274.0
India        252.0
Indonasia      NaN
USA           64.0
iran           NaN
dtype: float64

In [34]:
obj.name='Top 5 populated countries in the world'

In [35]:
obj3.index.name='countries'

In [36]:
obj3

countries
China     137.0
India     126.0
USA        32.0
Brazil     20.0
iran        NaN
dtype: float64