In [1]:
import numpy as np
import pandas  as pd
from pandas import Series,DataFrame

In [2]:
url='https://money.rediff.com/companies/market-capitalisation?'

In [3]:
df_list=pd.io.html.read_html(url)

In [4]:
df=df_list[0]

In [5]:
df

,Company,Current Price (Rs),% Change,Volume,Equity,Face Value,Market Cap (Rs Cr)
0,Reliance Inds.,1232.60,-1.11,1034097,6338.67,10,781303.97
1,Tata Consultancy,1925.90,+ 0.71,63686,375.24,1,722671.77
2,HDFC Bank,2091.65,-1.11,240235,544.10,2,569029.07
3,Hindustan Unilever L,1767.80,+ 0.81,40089,216.46,1,382666.64
4,ITC Ltd.,274.30,-0.22,774462,1225.08,1,336040.81
5,HDFC,1885.05,-0.35,209101,344.00,2,324225.57
6,Infosys,733.35,0.00,191573,2184.33,5,320375.12
7,SBI,270.75,+ 1.20,667047,892.46,1,241633.86
8,Kotak Mahindra Bank,1241.05,-3.71,4664828,954.02,5,236796.56
9,ICICI Bank,351.75,+ 0.39,784388,1288.64,2,226638.73
10,Maruti Suzuki India,6916.40,+ 1.76,60109,151.04,5,208930.65
11,ONGC,148.55,+ 1.05,761765,6416.62,5,190637.71
12,Axis Bank Ltd.,703.05,+ 0.88,286037,514.09,2,180713.85
13,L&T,1279.45,-0.22,237019,280.44,2,179407.07
14,Wipro Ltd,379.00,+ 1.20,77051,905.04,2,171504.23
15,HCL Technologies,1059.00,+ 0.52,34029,271.25,2,143628.26
16,Asian Paints Ltd.,1398.30,+ 0.04,115191,95.92,1,134124.63
17,Coal India,215.25,+ 0.73,182737,6207.41,10,133614.48
18,Indian Oil Corp,136.20,+ 3.85,1266214,9414.16,10,128220.84
19,Bharti Airtel,313.00,+ 0.90,155905,1998.70,5,125118.62
20,NTPC,139.70,+ 2.27,141416,8245.46,10,115189.14
21,Hind. Zinc,259.75,+ 1.72,34828,845.06,2,109752.66
22,Sun Pharma.,430.40,+ 0.15,286596,239.93,1,103267.38
23,Nestle India,10687.30,+ 0.85,2069,96.42,10,103042.37
24,UltraTech Cement,3633.00,+ 0.05,9658,274.64,10,99775.80
25,Bajaj Finserv Ltd.,6182.55,+ 0.08,10769,79.57,5,98386.70
26,Power Grid Corpo,181.90,+ 0.08,92521,5231.59,10,95162.62
27,Avenue Supermarts,1484.90,+ 1.84,31032,624.08,10,92670.31
28,Titan Company,1035.25,-0.69,46148,88.78,1,91908.06
29,IndusInd Bank,1463.35,-0.56,171699,602.64,10,88187.25
...,...,...,...,...,...,...,...
70,Britannia Ind.,3014.30,+ 0.33,44824,24.03,2,36219.57
71,United Breweries Ltd,1363.85,+ 0.33,27742,26.44,1,36060.90
72,Lupin Ltd.,776.85,+ 0.88,70293,90.49,2,35148.71
73,Hind. Petrol,230.40,+ 3.50,327919,1523.82,10,35108.87
74,Siemens Ltd.,985.00,-0.06,21343,71.22,2,35077.85
75,Bajaj Holdings & Inv,3125.60,-0.47,461,111.29,10,34785.90
76,Colgate Palm.,1255.45,+ 1.30,28214,27.20,1,34146.44
77,IDBI Bank Ltd.,43.20,-4.00,616434,7736.30,10,33420.81
78,P&G Hygiene&Health,10131.20,+ 0.74,63,32.46,10,32886.62
79,PetronetLNG,215.40,+ 0.05,64485,1500.00,10,32310.00
80,Cadila Healthcar,314.50,+ 0.40,23147,102.37,1,32196.70
81,NMDC Ltd.,96.85,+ 1.63,209801,316.39,1,30642.28
82,GlaxoSmithKlineConsu,7280.00,+ 0.24,2795,42.06,10,30616.43
83,Bajaj Finance L,2641.05,-0.45,114316,115.59,10,30528.87
84,DLF Ltd.,169.30,+ 2.17,282221,356.90,2,30211.16
85,Torrent Pharmac,1768.40,+ 0.03,1568,84.61,5,29925.35
86,L&T Infotech,1718.30,-0.54,2844,17.34,1,29803.83
87,Oracle Financial Ser,3440.00,-0.64,9343,42.88,5,29500.94
88,Power Finance Co,111.00,+ 0.73,452797,2640.08,10,29304.90
89,Indiabulls Housing F,680.35,-0.40,888245,85.48,2,29078.39
90,The New India Assur,174.40,-0.77,2780,824.00,5,28741.12
91,HDFC AMC,1347.40,+ 0.13,5179,106.29,5,28642.11
92,Berger Paints I,293.85,-0.42,18281,97.10,1,28533.86
93,Punj. NationlBak,73.20,0.00,1164584,760.40,2,27830.52
94,Bank of Baroda,102.85,-0.15,582005,529.10,2,27209.13
95,Vodafone Idea L,30.40,-1.94,1266962,8735.47,10,26555.84
96,ABB India,1250.00,+ 0.02,31898,42.38,2,26488.55
97,3M India Ltd.,23285.60,+ 2.49,299,11.27,10,26231.39
98,REC,132.80,+ 3.55,485134,1974.92,10,26226.91
99,ACC,1384.70,-0.39,12093,187.79,10,26002.90

In [6]:
#df['Company'][9]

In [7]:
#df3['% Change'][98]

In [8]:
change=[]
for i in df['% Change']:
    if '+ ' in i:
        i2=i[2:]
        
        change.append(float(i2))
    else:
         change.append(float(i))

In [9]:
df['% Change']=change

In [10]:
#df2=df.sort_values('% Change')
#df2

In [11]:
#df2.index=range(1,101)
#df2

In [12]:
#df2.index=range(1,101)
 #df2.head()

In [13]:
df3=df.iloc[[25,87,64,23]]
df3

,Company,Current Price (Rs),% Change,Volume,Equity,Face Value,Market Cap (Rs Cr)
25,Bajaj Finserv Ltd.,6182.55,0.08,10769,79.57,5,98386.70
87,Oracle Financial Ser,3440.00,-0.64,9343,42.88,5,29500.94
64,UPL,824.05,-0.37,19807,101.87,2,41972.38
23,Nestle India,10687.30,0.85,2069,96.42,10,103042.37

In [14]:
for j,i in enumerate(df3['% Change']):
    if i<1 and i>-1:
        print(df3['Company'][df3['% Change']==i])

25    Bajaj Finserv Ltd.
Name: Company, dtype: object
87    Oracle Financial Ser
Name: Company, dtype: object
64    UPL
Name: Company, dtype: object
23    Nestle India
Name: Company, dtype: object

In [15]:
#df2.tail()

In [ ]:
#df2.iloc[5:8]

In [ ]:

for i in range(1,101):
    if df2['% Change'][i]<0.00:
        continue
    else:
        d=i
        break
print(d)

In [ ]:
#df2.iloc[25:35]

In [ ]:
#df2.iloc[:d-1]

In [ ]:
#df2.iloc[d-1:]

In [ ]:
# 0<df['% Change'][52]>1

In [ ]:
#df2['Company'][[4,6,8]]