In [1]:
import numpy as np
import pandas  as pd
from pandas import Series,DataFrame

In [11]:
arr=np.array([[1,2,np.nan],[np.nan,3,4]])   #nan=not a number
arr

array([[ 1.,  2., nan],
       [nan,  3.,  4.]])

In [8]:
df1=DataFrame(arr,index=['A','B'],columns=['one','two','three']) 
df1

   one  two  three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [9]:
df1.sum() #row are vertically added

one      1.0
two      5.0
three    4.0
dtype: float64

In [10]:
df1.sum(axis=1)#columns are added

A    3.0
B    7.0
dtype: float64

In [12]:
df1.min() # minimum in a particular columns

one      1.0
two      2.0
three    4.0
dtype: float64

In [13]:
df1.idxmin()#minimum index

one      A
two      A
three    B
dtype: object

In [14]:
df1.cumsum()#comulative sum

   one  two  three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [15]:
df1.describe()#

       one       two  three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    1.0  2.250000    4.0
50%    1.0  2.500000    4.0
75%    1.0  2.750000    4.0
max    1.0  3.000000    4.0

In [16]:
df1.index.get_values()

array(['A', 'B'], dtype=object)

In [17]:
ser1=Series(['w','w','x','y','z','w','x','y','x','a'])
ser1

0    w
1    w
2    x
3    y
4    z
5    w
6    x
7    y
8    x
9    a
dtype: object

In [18]:
ser1.unique()

array(['w', 'x', 'y', 'z', 'a'], dtype=object)

In [26]:
ser1.value_counts()

w    3
x    3
y    2
z    1
a    1
dtype: int64

In [20]:
ser1.index.get_values

In [27]:
ser2=Series(['w','w','x','y','z','w','x','y','x','a'],index=list('ABCDEFGHIJ'))
ser2

A    w
B    w
C    x
D    y
E    z
F    w
G    x
H    y
I    x
J    a
dtype: object

In [28]:
ser2.unique()

array(['w', 'x', 'y', 'z', 'a'], dtype=object)